* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif; 
  background-color: #f4f4f9;
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
  overflow: hidden; 
}

.admin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white; 
  border-radius: 10px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  width: 100%;
  max-width: 400px; 
}

.title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.file-input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%; 
  max-width: 300px; 
}

.upload-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007BFF; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; 
  max-width: 300px; 
}

.upload-button:hover {
  background-color: #0056b3; 
}

.upload-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.react-player .rp-progress-bar {
  height: 50px;
}

